# PostgreSQL Database connection string (e.g. Neon or Supabase)
DATABASE_URL=

# Admin panel password (default is 5075)
ADMIN_PASSWORD=5075

# Optional Football APIs
FOOTBALLDATA_KEY=
THESPORTSDB_KEY=3
